$primary: rgb(190, 11, 35);
$var: 'Raleway',
sans-serif,
'Roboto Mono',
monospace;
@import "reviews";
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif !important;
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 500;
}

a {
    text-decoration: none !important;
    color: #070707 !important;
}

a:hover {
    color: #0a0a0a!important;
}

ul {
    list-style-type: none;
}


/* css del HEADER */

.transform {
    width: 150px;
    height: 150px;
    transition: all 1s;
}

.transform:hover {
    height: 155px;
    width: 155px;
    padding: 10px;
}

header {
    background: #e6dada23;
    background: linear-gradient(to bottom, #274046, #e6dada23);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #274046, #e6dada23);
    /* Chrome 10-25, Safari 5.1-6 */
    margin-bottom: 70px;
}

#headerMenu {
    margin-right: 55px;
    margin-top: 55px;
    word-spacing: 50px;
    float: right;
}

.headerMenu__secundario {
    font-size: large;
    color: black;
    text-decoration: overline !important;
    font-variant: all-petite-caps;
    font-weight: bold
}

div>ul>li {
    display: inline-block;
}


/* INDEX--- Menu dropdown  seccion reviews */

.headerMenu__secundario:hover {
    transition: 1s;
    font-size: 1.7rem;
}

h2 {
    margin-top: 5rem !important;
    font-weight: bold !important;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all 2s;
    margin-left: 4rem;
}

.dropdown-content>ul {
    padding-left: 0rem;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-weight: bold;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
    padding: 20px;
    text-decoration: underline;
}


/* Show the dropdown menu on hover */

.review:hover .dropdown-content {
    display: block;
}

#seccionReview {
    position: relative;
}

.review {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../media/untamed.jpg);
    background-size: cover;
    background-position-x: center;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 5;
    width: 400px;
    height: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 82%);
}

.humor {
    display: inline-block;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../media/untamedRISA.png);
    width: 400px;
    height: 600px;
    text-align: center;
    line-height: 5;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 82%);
}

.podcast {
    width: 400px;
    height: 600px;
    display: inline-block;
    background-position-y: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../media/untamedDrawing.jpg);
    text-align: center;
    line-height: 5;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 82%);
}

.div_img_index {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

@media screen and (max-width:768px) {
    .div_img_index {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
}


/* seccion HUMOR */

#seccionHumor {
    margin-left: 10px;
    margin-right: 10px;
}

#memes {
    margin-left: 10px;
    margin-right: 10px;
}

#imagenes_memes_novelas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.contenedor_imagen_humor {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #655f5f2b;
    height: 350px;
    width: 350px;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.contenedor_imagen_humor:hover {
    height: 400px;
    width: 400px;
    padding: 10px;
}

#imagenes_memes_vidaFan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.titulosMemes {
    font-weight: 600;
    font-size: 25px;
    text-decoration: underline;
}

.subtitulo_seccion {
    font-variant-caps: small-caps;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titulo_seccion_particular {
    text-transform: uppercase;
    text-align: center;
    text-decoration: overline;
    font-size: 30px;
    margin-top: 50px;
}


/* ------SECCION NOSOTROS-----*/

#nosotrosTexto {
    border: 1px solid #ca0a0a;
    text-align: center;
    color: black;
    border-bottom-width: medium;
    border-color: #274046;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 550px;
}

.imagenNosotros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: baseline;
}

.imagenNosotros_img {
    padding: 20px;
}


/*------ SECCION CONTACTO ---*/

#fieldset {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.dejanosMSG {
    margin-left: 30px;
    font-size: 20px;
}

.tituloContacto {
    margin-left: 30px;
    font-size: 28px;
    font-weight: 600px;
    margin-top: 50px;
}

.sub_sub_titulo {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}


/* SECCION PODCAST*/

.podcast-insert {
    margin-top: 40px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}


/* -----FOOTER ---- */

footer {
    margin-top: 200px;
    border-top-width: 200px;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    background: #e6dada23;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #274046, #e6dada23);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #274046, #e6dada23);
}

#copyright {
    text-align: center;
    color: white;
    margin-top: 1rem;
}

.logoRedSocial {
    margin-left: 30px;
}

.bounce {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.bounce:hover {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: alternate;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss"